body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #0046d0;
    color:white;
}

a{
    color:white;
}


.topbar table{
    margin-left:auto;
    margin-right:auto;
}

.topbar td{
    padding-left:5vw;
    padding-right:5vw;
}

.topbar td:hover{
    color:black;
    cursor:pointer;
}

.topbar{
    font-weight: 500;
    position:fixed;
    top:0;
    left:0;
    /* background-color: white; */
    color:#ffffff;
    font-size: 3vh;
    width:100%;
    border-top:2vh;
    border-bottom:2vh;
    border-style:solid;
    border-color:transparent;
    text-align: center;
}

.mobmenu{
    display:none;
    z-index: 3;
}

.logom{
    max-height: 6vh;
}

.logod{
    max-height:6vh;
}

.logox{
    max-height:5vh;
}

.logod:hover{
    filter:invert(1);
}

.info{
    margin-top:30vmin;
    margin-left:30vmin;
    margin-right:30vmin;
    font-size:2vmin;
    background-color: darkblue;
    padding:5vmin;
    border-radius: 2vmin;
    text-align: left;
}

.infocars{
    margin-top:20vmin;
    margin-left:20vmin;
    margin-right:20vmin;
    font-size:3vmin;
    background-color: darkblue;
    padding:5vmin;
    border-radius: 2vmin;
    text-align: center;
}

.title{
    margin:10vmin;
    font-size:3vmin; 
    font-weight: 700;
}

.thumb{
    max-width:15vw;
    border:7px solid white;
}

.car{
    max-width:60vw;
    border:5px solid white;
    margin:2vmin;
}



.floor{
    font-weight: 500;
    top:0;
    left:0;
    /* background-color: white; */
    color:#ffffff;
    font-size: 3vh;
    width:100%;
    border-top:2vh;
    border-bottom:2vh;
    border-style:solid;
    border-color:transparent;
    text-align: center;

}

.ccar{
    max-width: 40vw;
}

.npcar{
    max-width:10vw;
}


.homecars p{
    color:#0046d0;
    margin-left:10vw;
    margin-right:10vw;}

.homecars img{
    margin-bottom:-1vh;
    object-fit: cover;
    width:100vw;
    height:105vh;
    max-width:100%;
}

.mobfloor{
    display:none;
}

.details{
    margin-top:15vmin;
    margin-left:10vmin;
    margin-right:10vmin;
    font-size:2vmin;
    background-color:darkblue;
    padding:5vmin;
    border-radius: 2vmin;
    text-align: left;
}

/* mobile */

@media screen and (max-aspect-ratio:1/1){

    .thumb{
        max-width:55vw;
        border:7px solid white;
        margin-bottom:10vh;
    }

    .mobfloor{
        display:inline-table;
        font-weight: 500;
        top:0;
        left:0;
        /* background-color: white; */
        color:#ffffff;
        font-size: 3vh;
        width:100%;
        border-top:2vh;
        border-bottom:2vh;
        border-style:solid;
        border-color:transparent;
        text-align: center;
    
    }

    .floor{
        display:none;
    }

    .info{
        margin-top:30vh;
        margin-left:10vmin;
        margin-right:10vmin;
        font-size:4vmin;
        background-color: darkblue;
        padding:5vmin;
        border-radius: 2vmin;
        text-align: left;
    }

    .details{
        margin-top:12vh;
        margin-left:10vmin;
        margin-right:10vmin;
        font-size:4vmin;
        background-color: darkblue;
        padding:5vmin;
        border-radius: 2vmin;
        text-align: left;
    }

    .infocars{
        margin-top:15vh;
        margin-left:10vmin;
        margin-right:10vmin;
        font-size:4vmin;
        background-color: darkblue;
        padding:5vmin;
        border-radius: 2vmin;
        text-align: center;
    }

    .topbar{
        display:none;
    }
    

    /* .homecars{
        margin-top:11vh;
    } */
    
    .homecars img{
        object-fit: cover;
        width:100vw;
        max-width:100%;
        height:auto;
        
    }

    .mobmenu{
        position:fixed;
        width:100vw;
        top:0;
        left:0;
        display:block;
        color:#0046d0;
        text-align: right;
    }

    #min{
        position:absolute;
        /* background-color: white; */
        height: 24vw;
        width:100vw;
        left:0;
        top:0;
    }



    .logom{
        position:absolute;
        left:5vw;
        top:5vw;
        cursor:pointer;
    }

    .menubtn{
        position: absolute;
        right:5vw;
        top:7vw;
        max-height: 4vh;
        cursor:pointer;
    }
    
    .mobmenu p{
        position:absolute;
        right:5vw;
        font-size: 18vw;
        margin:0;
        cursor:pointer;
    }

    .mobmenu p:hover{
        color:black;
    }

    .mobmenu table{
        position:absolute;
        top:5vw;
        right:7vw;
    }

    .mobmenu td{
        padding-bottom:5vh; 
    }

    .mobmenu td:hover{
        color:black;
        cursor:pointer;
    }

    #max{
        display:none;
    }
}