body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: #090025;
}

a{
    color:white;
}

img[src=""]{
    display:none;
}


.topbar table{
    margin-left:auto;
    margin-right:auto;
}

.topbar td{
    padding-left:5vw;
    padding-right:5vw;
}

.topbar td:hover{
    color:black;
    cursor:pointer;
}

.topbar{
    z-index: 3;
    font-weight: 500;
    position:fixed;
    top:0;
    left:0;
    color:#ffffff;
    font-size: 3vh;
    width:100%;
    border-top:2vh;
    border-bottom:2vh;
    border-style:solid;
    border-color:transparent;
    text-align: center;
}

.mobmenu{
    display:none;
    z-index: 3;
}

.logom{
    max-height: 6vh;
}

.logod{
    max-height:6vh;
}

.logox{
    max-height:5vh;
}

.logod:hover{
    filter:invert(1);
}

.info{
    margin-top:20vmin;
    margin-left:30vmin;
    margin-right:30vmin;
    font-size:2vmin;
    padding:5vmin;
    border-radius: 2vmin;
    text-align: left;
}

.carshop{
    top:20vh;
    z-index: 2;
    position:relative;
    background-color: #090025;
    display:block;
    padding-top:5vh;
}

.infocars{
    margin-top:15vmin;
    font-size:2vmin;
    text-align: center;
}

.infocars p{
    margin-left:15vw;
    margin-right:15vw;
}

.title{
    margin:10vmin;
    font-size:3vmin; 
    font-weight: 700;
}

.thumb{
    max-width:25vw;
}

.car{
    padding-top:2vmin;
    max-width:60vw;
    margin:2vmin;
}

.carv{
    padding-top:2vmin;
    max-height:80vh;
    margin:2vmin;
}


.floor{
    font-weight: 500;
    margin-left:14vw;
    /* background-color: white; */
    color:#ffffff;
    font-size: 3vh;
    width:70vw;
    border-top:4vh;
    border-bottom:2vh;
    border-style:solid;
    border-color:transparent;
    text-align: center;

}

.ccar{
    max-width: 40vw;
}

.npcar{
    max-width:10vw;
}


.homecars p{
    margin-left:10vw;
    margin-right:10vw;}

.homecars img{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.homecarsdiv{
    overflow: hidden;
    height: 105vh;
    max-height: 105vmax;
    position: relative;
}

.carsmedia{
    top:0;
    z-index:1;
    left:0;
    position: fixed;
    object-fit: cover;
    width:100vw;
    height:50vh;
    max-width:100%;
}

.mobfloor{
    display:none;
}

.details{
    margin-top:15vmin;
    margin-left:0vmin;
    margin-right:0vmin;
    font-size:2vmin;
    padding:5vmin;
    text-align: left;
}

.gallery{
    display: none;
    position:fixed;
    z-index: 5;
    text-align: center;
    top:50%;
    left:0;
    right:0;
    margin-inline:auto;
    width: fit-content;
    height: fit-content;
    transform:translate(0,-50%);
}

.gallerythumbnails{
    max-width: 75vw;
    margin-inline: auto;
}

.galimg{
    max-height: 60vh;
    max-width: 70vw;
}

.galthumb{
    max-height: 30vh;
    max-width: 10vw;
    margin:1vmin;
}

.prev{
    font-size: 3vmax;
    padding-right: 5vw;
    padding-left:2vw;
    cursor:pointer;
}

.next{
    font-size: 3vmax;
    padding-left: 5vw;
    padding-right:2vw;
    cursor:pointer;
}

#screen{
    display: none;
    opacity: .8;
    top:0;
    left:0;
    z-index: 4;
    background-color: black;
    position:fixed;
    width: 100vw;
    height: 100vh;
    cursor:zoom-out;   
}



/* mobile */

@media screen and (max-aspect-ratio:1/1){

    .car{
        padding-top:2vmin;
        max-width:75vw;
        margin:2vmin;
    }

    .thumb{
        max-width:75vw;
        margin-bottom:10vh;
    }

    .mobfloor{
        display:inline-table;
        font-weight: 500;
        top:0;
        left:0;
        /* background-color: white; */
        color:#ffffff;
        font-size: 3vh;
        width:100%;
        border-top:2vh;
        border-bottom:2vh;
        border-style:solid;
        border-color:transparent;
        text-align: center;
    
    }

    .floor{
        display:none;
    }

    .info{
        margin-top:25vh;
        margin-left:3vmin;
        margin-right:3vmin;
        font-size:4vmin;
        padding:5vmin;
        border-radius: 2vmin;
        text-align: left;
    }

    .details{
        margin-top:12vh;
        margin-left:0vmin;
        margin-right:0vmin;
        font-size:4vmin;
        padding:5vmin;
        text-align: left;
    }

    .infocars{
        margin-top:15vh;
        margin-left:0vmin;
        margin-right:0vmin;
        font-size:4vmin;    
        text-align: center;
    }

    .topbar{
        display:none;
    }
    

    /* .homecars{
        margin-top:11vh;
    } */
    
    .homecars img{
        object-fit: cover;
        width:100vw;
        max-width:100%;
        height:auto;
        display: inline;
        width: 100%;
        position:static;
        bottom: 0;
    }

    .homecarsdiv{
        overflow: hidden;
        height:auto;
        margin-top: -1vh;
    }

    .mobmenu{
        position:fixed;
        width:100vw;
        top:0;
        left:0;
        display:block;
        text-align: right;
    }

    .carv{
        max-width:75vw;
    }

    #min{
        position:absolute;
        /* background-color: white; */
        height: 24vw;
        width:100vw;
        left:0;
        top:0;
    }



    .logom{
        position:absolute;
        left:5vw;
        top:5vw;
        cursor:pointer;
    }

    .menubtn{
        position: absolute;
        right:5vw;
        top:7vw;
        max-height: 4vh;
        cursor:pointer;
    }

    .carsmedia{
        top:-10vh;
        z-index:1;
        left:0;
        position: fixed;
        object-fit: cover;
        width:100vw;
        height:60vh;
        max-width:100%;
    }
    
    .mobmenu p{
        position:absolute;
        right:5vw;
        font-size: 18vw;
        margin:0;
        cursor:pointer;
    }

    .mobmenu p:hover{
        color:black;
    }

    .mobmenu table{
        position:absolute;
        top:5vw;
        right:7vw;
    }

    .mobmenu td{
        padding-bottom:5vh; 
    }

    .mobmenu td:hover{
        color:black;
        cursor:pointer;
    }

    #max{
        display:none;
    }

    .galthumb{
        max-height: 60vh;
        max-width: 20vw;
    }

    
.prev{
    font-size: 0vmax;
    padding-right: 7vw;
    padding-left:0vw;
    cursor:pointer;
}

.next{
    font-size: 0vmax;
    padding-left: 7vw;
    padding-right:0vw;
    cursor:pointer;
}

.galimg{
    max-height: 40vh;
}

}